# Schemas with datatype for initialization
"block_name": "string"
"run_area": "string"
"log_file": "string"
"emir_modes": "array" , # Static, Dynamic...
"toggle_rates": "array" , # For Vectorless run only

# Schemas with datatype foreach category (Vectorless/VCD) foreach EMIR mode
foreach mode $emir_modes {
    # Check IR Drop only
    # Vectorless
    foreach tr $toggle_rates {
        "mode,vectorless,tr,rpt_file": "string"
        "mode,vectorless,tr,instance": "float"
        "mode,vectorless,tr,instance_count": "int"
        "mode,vectorless,tr,wire_vdd": "float"
        "mode,vectorless,tr,wire_vss": "float"
        "mode,vectorless,tr,pkg_vdd": "float"
        "mode,vectorless,tr,pkg_vss": "float"
        "mode,vectorless,tr,switch": "float"
    }

    # VCD
    "mode,vcd,rpt_file": "string"
    "mode,vcd,annotation_rate": "float"
    "mode,vcd,instance": "float"
    "mode,vcd,instance_count": "int"
    "mode,vcd,wire_vdd": "float"
    "mode,vcd,wire_vss": "float"
    "mode,vcd,pkg_vdd": "float"
    "mode,vcd,pkg_vss": "float"
    "mode,vcd,switch": "float"
}