# Schemas with datatype for initialization
"block_name": "string"
"run_area": "string"
"log_file": "string"
"scenarios": "array" ; # FUNC_FF, FUNC_SS...
"path_groups": "array" # reg2reg, reg2out...

# Schemas with datatype for timing DRV and report path
foreach scen $scenarios {
    "scen,rpt_file": "string"
    "scen,max_cap": "float"
    "scen,data_max_trans": "float"
    "scen,clock_max_trans": "float"
    "scen,max_fanout": "int"
    "scen,min_pulse_width": "float"
    "scen,min_period": "float"
}

# Schemas with datatype for timing foreach path group foreach scenario
foreach scen $scenarios {
    foreach grp $path_groups {
        "scen,grp,setup": ["float","float","integer"] ; # Array: WNS,TNS,NVP
        "scen,grp,hold": ["float","float","integer"] ; # Array: WNS,TNS,NVP
    }
}