# Schemas with datatype for initialization
"block_name": "string"
"run_area": "string"
"log_file": "string"
"modes": "array"
"clock_skew_groups": "array"

# Schemas with datatype foreach clock skew group foreach mode per default scenario
foreach mode $modes {
    "mode,rpt_file": "string"

    foreach group $clock_skew_groups {
        "mode,group,total_sinks": "int"
        "mode,group,latency": ["int","int","int"] ; # Array: Min,Max,Avg
        "mode,group,target_skew": "float"
        "mode,group,actual_skew": "float"
        "mode,group,passing_percentage": "int"
    }
}